* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
    color: whitesmoke;
}

h1 {
    text-align: center;
}

#game {
    width: 90vw;
    margin: 0 auto;
}

#game div {
    border: 1px solid white;
    width: 15%;
    height: 200px;
    width: 150px;
    margin: 10px;
    display: inline-block;
    transition-duration: 0.1s;
}

#game div:hover {
    transform: scale(1.04);
}

#game div:active {
    transform: rotateY(10deg);
}

.winning-screen {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.767);
    /* display: flex; */
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    display: none;
}

.winning-screen>h1 {
    background-color: rgb(7, 87, 7);
    padding: 1rem;
    opacity: 1;
}